.App {
  text-align: center;
}

body {
  background: url(images/people.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.form-container {
  width: 500px;
  height: 600px;
  background-color: rgb(210, 209, 203);
  opacity: 0.9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

label {
  margin: 5px 0;
  display: block;
  font-size: 20px;
}

input {
  width: 70%;
  font-size: 20px;
  margin-left: 70px;
  border: 3px solid rgb(17, 113, 123);
  border-radius: 10px;
}

button {
  width: 30%;
  height: 40px;
  font-size: 15px;
  margin-left: 180px;
  border-radius: 20px;
  background-color: rgb(17, 113, 123);
  border: 1px solid;
  cursor: pointer;
}

.error {
  color: red;
}
